    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,600;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'poppins', sans-serif;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
    }

    .dummy {
        width: 100%;
        justify-content: space-around;
        height: 120px;
        line-height: 80px;
        z-index: 3;
    }

    nav {
        position: fixed;
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 80px;
        line-height: 80px;
        z-index: 100;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.9px);
        -webkit-backdrop-filter: blur(2.9px);
    }

    .logo {
        display: flex;
        font-size: 35px;
        font-weight: 800;
        color: #3d535f;
        letter-spacing: 3px;
        cursor: pointer;
        text-transform: uppercase;
    }

    b {
        font-size: 70px;
        color: #7f00ff;
    }

    .navItems {
        display: flex;
    }

    .navItems li {
        list-style: none;
        margin: 0 15px;
    }

    .navItems li a {
        font-size: 18px;
        color: #3d535f;
        letter-spacing: 3px;
        text-decoration: none;
    }

    .navItems li a:hover,
    .links a:hover,
    .navItems a.active {
        color: #7f00ff;
    }

    .links a {
        font-size: 20px;
        color: #3d535f;
        margin: 25px 10px;
    }

    .wrapper {
        display: flex;
        width: 100%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        margin: 0 7.5%;
    }

    .wrapper::before {
        position: absolute;
        content: '';
        height: 400px;
        width: 400px;
        border-radius: 50%;
        left: -12%;
        top: 40%;
        background: linear-gradient(45deg, #7f00ff, pink);
        animation: object1 3s linear infinite;
        z-index: 1;
    }

    .wrapper::after {
        position: absolute;
        content: '';
        height: 100px;
        width: 100px;
        border-radius: 50%;
        left: 35%;
        top: 12%;
        background: linear-gradient(45deg, #7f00ff, pink);
        animation: object2 3s linear infinite;
    }

    @keyframes object1 {
        50% {
            left: -13%;
            top: 41%;
        }
    }

    @keyframes object2 {
        50% {
            left: 35%;
            top: 10%;
        }
    }

    .cols {
        width: 50%;
    }

    .cols0 {
        z-index: 3;
    }

    .topline {
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #3d535f;
    }

    .topline::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        bottom: 10px;
        background-color: #7f00ff;
    }

    h1 {
        display: block;
        font-size: 5em;
        font-weight: 900;
        color: #3d535f;
    }

    .multiText {
        color: #7f00ff;
        text-transform: capitalize;
    }

    .wrapper p {
        display: block;
        width: 90%;
        font-size: 1.2em;
        color: #3d535f;

    }

    .btns {
        width: 100%;
        /* position: relative; */
        left: 150px;
    }

    button {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        background-color: #3d535f;
        padding: 8px 14px;
        margin: 40px 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    }

    button:hover {
        background-color: #7f00ff;
    }

    .imgbox {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .imgbox img {
        position: relative;
        height: 50%;
        width: calc(120% - 140px);
        top: -50px;
        right: 50px;
        transform: rotateY(180deg);
        /* animation: animateUser 4s linear infinite; */
    }

    @keyframes animateUser {
        50% {
            right: 30px;
            top: -90px;
        }
    }

    .imgbox #splash {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%) rotate(-35deg);
        width: 80%;
        height: 80%;
        filter: saturate(200%);
        animation: animate 4s linear infinite;
    }

    @keyframes animate {
        50% {
            right: 30px;
            top: 300px;
        }
    }

    .about {
        position: absolute;
        width: 100%;
        min-height: 150vh;
        background-color: #f3f5f8;
        z-index: 4;
        transition: all .50s ease;
    }

    .skills {
        top: 250vh;
        position: absolute !important;
        width: 100%;
        min-height: 250vh;
        background-color: #fff;
        z-index: 4;
    }

    .about h1{
        color: #7f00ff;
        text-align: center;
        text-transform: capitalize;
        font-size: 3em;
        margin-top: 100px;
    }

    #spanAbout {
        color: #3d535f;
        font-weight: 700;
    }

    .about h2 {
        text-align: center;
        letter-spacing: 0px;
        font-size: 0.85em;
        font-weight: 100;
    }

    .about span {
        font-weight: bold;
    }

    .about p {
        font-size: 15px;
        font-weight: lighter;
        margin-top: 40px;
        text-align: center;
        padding: 0 10rem;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

    p.indent {
        text-indent: 30px;
    }

    .iconAbout {
        width: 300px; 
        height: 300px;
        position: absolute;
        margin-top: 100px;
        margin-left: 1150px;
        }

    .iconAbout1 {
        width: 300px; 
        height: 300px;
        position: absolute;
        margin-top: 300px;
        right: 1150px;
        }

    h1.experience {
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        margin-top: 100px;
    }

    .border-container {
        margin-top: 40px;
        width: 100%;
        display: grid;
        place-items: center;
        text-align: center;
    }

    .border-box {
        width: 60%;
        height: auto;
        text-align: left;
    }

    .border-list {
        margin-top: 20px;
        border: 1px solid #3d535f;
        padding: 20px;
        border-radius: 20px;
    }

    .border-list ul li {
        list-style: none;
    }

    .exp-text {
        font-size: 1rem;
        margin-bottom: 10px;
        text-decoration: underline 2px #7f00ff;
    }


    .exp-date {
        font-style: italic;
        
    }

    .exp-desc {
        margin-top: 5px;
        font-size: 15px;
        
    }

    .blogs {
        top: 460vh;
        position: absolute !important;
        width: 100%;
        min-height: 150vh;
        background-color: #f3f5f8;
        z-index: 9;
    }

    .title-blogs {
        font-family: poppins, sans-serif;
        font-size: 3em;
        text-align: center;
        margin-top: 100px;
        text-decoration: underline #7f00ff;
    }

    .border-blogs {
        margin-top: 40px;
        width: 100%;
        display: grid;
        place-items: center;
        text-align: center;
    }

    .border-card {
        width: 60%;
        height: auto;
        text-align: center;    
    }

    .border-card-content {
        margin-top: 20px;
        /* border: 1px solid #3d535f; */
        padding: 20px;
        border-radius: 20px;
    }
